* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter', sans-serif;
  }
}

body {
  background-color: #f3f5fc;
  color: #495057;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 40px;
  height: 100vh;
}

.center {
  text-align: center;
}

/* Section: Main */
section#main {
  grid-column: 1 / 4;
  grid-row: 1;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main-top {
  grid-row: 1;
}

.main-middle {
  display: grid;
  justify-content: center;
  grid-row: 2;
}

.main-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 3;
}

.main-bottom-info {
  grid-column: 1;
  grid-row: 1;
}

.main-bottom-buttons {
  grid-column: 1/3;
  grid-row: 2;
  display: grid;
  gap: 15px;
}
textarea {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  border: 0;
  background: none;
  color: #0a3871;
  align-self: start;
  resize: none;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: #0a3871;
}

.info-tip {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.8;
}

button {
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #0a3871;
  color: #0a3871;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color: transparent;
}

.button-encrypt {
  color: white;
  background-color: #0a3871;
  grid-column: 1;
  grid-row: 2;
}

.button-decrypt {
  grid-column: 2;
  grid-row: 2;
}

/* Section: Side */
section#side {
  grid-column: 4;
  grid-row: 1;
}

.side-background {
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.info-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

.info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
